<template name="popupWindows_openExternalWallet">
    <div class="main-content openExternalWallet">
        <form action="#">
        {{#if (TemplateVar.get "inputPassword")}}
            <h1><strong>{{i18n "mist.popupWindows.openExternalWallet.openTheWallet"}}</strong></h1>
            <h3>{{TemplateVar.get "wallet-url"}}</h3>
            <div class="pin-container">
                <div class="tips">
                    <br>
                    <span class="head">{{i18n "mist.popupWindows.openExternalWallet.lookNumberPosition"}}</span>
                    <div class="keyboard">
                        <div>
                            <button id="7" type="button">7</button>
                            <button id="8" type="button">8</button>
                            <button id="9" type="button">9</button>
                        </div>
                        <div>
                            <button id="4" type="button">4</button>
                            <button id="5" type="button">5</button>
                            <button id="6" type="button">6</button>
                        </div>
                        <div>
                            <button id="1" type="button">1</button>
                            <button id="2" type="button">2</button>
                            <button id="3" type="button">3</button>
                        </div>
                    </div>
                </div>
                <div class="input-password">
                    <div>
                        <input type="{{showPassword}}" placeholder="{{i18n 'mist.popupWindows.openExternalWallet.enterPIN'}}" class="password">
                    </div>
                    {{#if (TemplateVar.get "errMsg")}}
                        <span class="">{{TemplateVar.get "errMsg"}}</span>
                    {{else}}
                        <br>
                    {{/if}}
                    <div>
                        <input type="checkbox" name="elements_input_bool" class="show-password abi-input">
                        <label for="show-password">{{i18n "mist.popupWindows.importAccount.buttons.showPassword"}}</label>
                    </div>
                </div>
            </div>


        {{else}}
            <h1><strong>{{i18n "mist.popupWindows.openExternalWallet.selectAWallet"}}</strong></h1>
            <ul class="dapp-account-list">
                <li>
                    {{#each (TemplateVar.get "wallets")}}
                    <button>
                        <span>{{url}}</span>
                        <small>{{status}}</small>
                    </button>
                    {{else}}
                    <span class="no-wallet">
                            {{i18n "mist.popupWindows.openExternalWallet.noExternalWallet"}}
                        </span>
                    {{/each}}
                </li>
            </ul>
        {{/if}}
        <div class="dapp-modal-buttons modal-buttons">
            <button class="cancel" type="button">{{i18n "buttons.cancel"}}</button>
            {{#if (TemplateVar.get "inputPassword") }}
                <button class="back dapp-primary-button" type="button">{{i18n "buttons.back"}}</button>
                <button class="ok dapp-primary-button" type="submit">{{i18n "buttons.ok"}}</button>
            {{/if}}
        </div>
        </form>
    </div>
</template>
